nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 24px;
  color: white;
  align-items: center;
  background-color: transparent;
  /* background-color: #6c3177; */
}

nav > div {
  display: flex;
  gap: 24px;
}

nav a {
  color: inherit;
}

.btn-logout {
  border: 1px solid #6c3177;
  border-radius: 3px;
  padding: 6px 15px;
  margin-top: -40px;
  background-color: transparent;
  color: #6c3177;
  font-weight: 600;
}
