.form-style-4 {
  position: fixed;
  top: 25%;
  left: 35%;
  margin: 0 auto;
  width: 375px;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 30px 20px 30px;
  /* border: 2px solid #ccced0; */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.form-style-4 label {
  font-size: 16px;
  color: rgb(39, 31, 31);
  padding: 2px 2px 2px 2px;
}
.form-style-4 label {
  display: flex;
  margin-bottom: 10px;
}

/* .form-style-4 input[type="date"] {
  background-color: #ffffff;
  border: solid;
  width: 200px;
  outline: none;
  padding: 2px 2px 2px 2px;
} */

.btn {
  border: 1px solid #11a704;
  background-color: #11a704;
  color: white;
  padding: 6px 8px 6px 8px;
  margin-right: 18px;
  border-radius: 5px;
}

.create-event-form-divs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.create-event-button {
  text-align: right;
  padding-left: 20px;
}

.create-event-type-date {
  display: flex;
  justify-content: space-between;
}

.create-event-cancel-btn {
  margin-right: 15px;
  background: transparent;
  border: 1px solid #b7b7b7;
  color: #949494;
}

.create-event-cancel-btn:hover {
  margin-right: 15px;
  background: transparent;
  border: 1px solid #13b405;
  color: #11a704;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
